html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background-image: radial-gradient(red, black);
    background-image:-moz-radial-gradient(red, black);
    background-image:-webkit-radial-gradient(red, black);
    font-family: 'Orbitron', sans-serif;
    font-size: 90%;
    background-size: cover;
    color: white;
    margin: 0;
  }

  h1, h2, p {
    text-align: center
  }

   .start-page {
    position:fixed;
    width: 100vw;
    height: 100%;
    text-align: center;
    background-image: radial-gradient(black, red);
    background-image:-moz-radial-gradient(black, red);
    background-image:-webkit-radial-gradient(black, red);
    background-size:cover;
    color: white;
    cursor: pointer;
  } 

  .start-page > h1 {
    position: relative;
    margin-top: 275px;
    font-size: 200px;
  }

  @keyframes fade-on-load {
    to{
    opacity: 1;
    height: 100%
    }
  }

  .fade-on-load {
    opacity:0;
    animation: fade-on-load 4s forwards ease-in-out;
  }
  @keyframes fade-away {
    from { 
      opacity: 1;
      }
      to {
      opacity: 0;
      }
  }

  .fade-away {
    animation-duration: 2s;
    animation-name: fade-away;
  }
  
  /* @keyframes fade-in{
    from {
      opacity: 0;
      z-index:-1;
    }
  } */
  
  /* .fade-away {
    opacity: 0;
      z-index:-1;
      color:red;
      animation: fade-away 6s ease-out; */
  /* } */
  
  /* .fade-in {
    opacity: 1;
    z-index: 1;
    animation-delay: 6s;
    animation: fade-in 6s ease-out;
  } */


  @media only screen and (max-width: 960px) {
    .card {
      width:3.0em;
      height:3.7em;
    }
  }

  @media only screen and (max-width: 700px) {
    .card {
      width:2.75em;
      height:3.0em;
    }
  }
  
  .hidden {
    display:none;
    height: 0;
  }
  
  .game-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    visibility: visible;
    height: max-content;
  }


  .scoreboard {
    display: inline-block;
    grid-template-columns: 15% 70% 15%;
  }
  
  .scoreboard > #playerscore {
    display:grid;
  }

  .scoreboard > #computerscore {
    display:grid;
  }

  .rules {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    visibility: none;
  }
  
  .rules:hover {
    visibility: visible;

  }

  .rules > h2, p {
    display: grid;
    grid-column-start: 2;
    margin: -10px;
   }
   
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
  }

  #player-deck {
    margin-right: 15%;
  }

  #computer-deck {
    margin-left: 15%;
  }
 

  .scoreboard {
    display: flex;
    justify-content:space-between;
    width:100vw;
    height:50px;

  }

  #playerscore {
    margin-left: 15%;
    
  }

  #computerscore {
    margin-right: 15%;
  }

  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
  }
  
  button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  