html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background-image: url("https://en.wikipedia.org/wiki/War#/media/File:Into_the_Jaws_of_Death_23-0455M_edit.jpg");
  }

  h1, h2, p {
    text-align: center
  }
  
  .game-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
  }

  .scoreboard {
    display: inline-block;
    grid-template-columns: 15% 70% 15%;
  }
  .scoreboard > #playerscore {
    display:grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-start:2;
  }

  .scoreboard > #computerscore {
    display:grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-start: 3;
  }

  .rules {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rules > h2, p {
    display: grid;
    grid-column-start: 2;
    margin: 10px 0 10px;
   
   
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
  }

  #player-deck {
    margin-right: 15%;

  }

  #computer-deck {
    margin-left: 15%;
  }

  .scoreboard {
    display:flex;
  }

  #playerscore {
    margin-left: 15%;
  }

  #computerscore {
    margin-left: 15%;
  }

  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
    background-color: black;
  }
  
  button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }
  